<header>

	<p class="name">Chloe Atchue-Mamlet</p>
	
	<div class="icon-lockup">
		<a class="icon" href="">{% include icons/linkedin.html %}</a>
		<a class="icon" href="">{% include icons/twitter.html %}</a>
		<a class="icon" href="">{% include icons/behance.html %}</a>
		<a class="icon" href="">{% include icons/github.html %}</a>
	</div>

	<nav>
		<div class="word-links">
			<a href="/Portfolio">Portfolio</a>
			<a href="/About">About</a>
			<a href="/Blog">Blog</a>
			<a href="/Contact">Contact</a>
		</div>
	</nav>

</header>