<header>

	<p class="name">Chloe Atchue-Mamlet</p>
	
	<div class="icon-lockup">
		<a class="icon" href="">{% include icons/linkedin.html %}</a>
		<a class="icon" href="">{% include icons/twitter.html %}</a>
		<a class="icon" href="">{% include icons/behance.html %}</a>
		<a class="icon" href="">{% include icons/github.html %}</a>
	</div>

	<nav>
		<ul class="word-links">
			<li><a href="/Portfolio">Portfolio</a></li>
			<li><a href="/About">About</a></li>
			<li><a href="/Blog">Blog</a></li>
			<li><a href="/Contact">Contact</a></li>
		</ul>
	</nav>

</header>