header
	background: #a2216d
	padding: 10px 0 40px 0

.name
	float: left
	color: #fff
	font-size: 18px
	font-weight: 700
	margin: 0 0 0 20px

nav
	font-size: 18px
	float: right
	margin: 0 10px 0 0

	a
		display: inline-block
		margin-left: 20px
		color: #fff
		text-transform: uppercase

		&:hover
			color: rgba(255, 255, 255, .9)

.icon-lockup
	float: right
	margin-left: 10px
	margin-right: 10px

	a
		margin-right: 10px

svg
	width: 30px
	height: 30px

	path
		fill: #fff

	&:hover
		path
			fill: rgba(255, 255, 255, .9)

@media (max-width: 890px)
	.icon-lockup
		display: none

	.word-links
		margin-right: 10px

@media (max-width: 630px)
	.name
		float: none
		text-align: center

	.icon-lockup
		float: none
		text-align: center
		margin: 0 auto
		width: 40%

